
body {
    background-color: rgb(210, 243, 230);
    text-align: center;
  }

h2 {
    color: black;
    text-align: center;
    font-size: 10px;
  }
  
  .card {
    background-color: white;
    color: rgb(210, 243, 230);
    padding: 20px 50px;
    border-radius: 20px;
    margin: 14px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease;

  
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left:  50px; */
  }
  
  .card:hover{
    transform: scale(1.1);
  }

  .title {
    color: black;
    text-align: center;
  }

  p {
    color: black;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    color: #333333;
    margin-bottom: 0px;
  }
  
  h3 {
    color: black);
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
  }
  
  #cardParent {
    display: flex;
    justify-content: space-between;
  }
  
  #card2 {
    bottom: 40px;
  }
  